/* Set height of body and the document to 100% to enable "full page tabs" */
body, html {
    height: 100%;
    margin: 0;
    font-family: Arial;
  }
  
  /* Style tab links */
  .tablink {
    background-color: #555;
    color: white;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    font-size: 17px;
    width: 25%;
  }
  
  .tablink:hover {
    background-color: #777;
  }
  
  /* Style the tab content (and add height:100% for full page content) */
  .tabcontent {
    color: white;
    display: none;
    padding: 100px 20px;
    height: 100%;
  }
  
  #Home {background-color: red;}
  #News {background-color: green;}
  #Contact {background-color: blue;}
  #About {background-color: orange;}
  
/* Resetowanie domyślnych stylów */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylizacja nagłówka */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

/* Stylizacja nawigacji */
nav ul {
    list-style-type: none;
    background-color: #444;
    text-align: center;
    padding: 10px;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

/* Stylizacja sekcji */
main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

/* Stylizacja stopki */

.kontakt {
    background-color: #555454;
  }

  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.footer-content {
    max-width: 960px;
    margin: 0 auto;
}

.social-media a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}